$field-width: 500px;
$grid-spacing: 5px;
$grid-row-cells: 7;
$grid-rows: 4;
$grid-border-radius: 3px;

// 0.01 offset needed for Firefox
$tile-size: (($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells) - 0.01;

body {
    background: #f3f1f1;
    margin: 80px 0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #735e5e;
}
.container {
    margin: 0 auto;
    width: $field-width;
}
.calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #b2edce;
    border-radius: $grid-border-radius;
    padding: ($grid-spacing/2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
.month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #d5f2e3;
    height: 30px;
    margin-bottom: 10px;
    border-radius: $grid-border-radius;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
.month-control {
    margin: 0 $grid-spacing 0 $grid-spacing;
    background: #c47070;
    border-radius: $grid-border-radius;
    // Bigger shadow since this is clickable
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    color: #f3f1f1;
    width: 40px;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.cell {
    text-align: center;
    height: $tile-size;
    line-height: $tile-size;
    background: #f7d0d0;
    width: $tile-size;
    border-radius: $grid-border-radius;
    margin: ($grid-spacing/2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 28px;
}
.cell-disabled {
    opacity: 0.5;
}
.cell-selected {
    background: #3bb876;
}
.head-cell {
    @extend .cell;
    font-size: 16px;
    height: $tile-size / 2;
    line-height: $tile-size / 2;
    background: #ffa6a6;
}
