$grid-row-cells: 7;
$grid-border-radius: 3px;

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-select-none {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    background: #f3f1f1;
    margin: 50px 0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #735e5e;
}
a {
    color: #735e5e;
    font-weight: bold;
}
hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
    margin: 0 auto;
}
.calendar-container {
    display: flex;
    flex-wrap: wrap;
    background: #b2edce;
    border-radius: $grid-border-radius;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);

    @extend .user-select-none;
}
.month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: #d5f2e3;
    margin-bottom: 10px;
    border-radius: $grid-border-radius;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 20px;
}
.month-control {
    @extend .center-align;
    height: 30px;
    background: #c47070;
    border-radius: $grid-border-radius;
    // Bigger shadow since this is clickable
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    color: #f3f1f1;
    width: 40px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    @extend .user-select-none;
}
.cell {
    display: flex;
    flex-direction: column;
    background: #f7d0d0;
    border-radius: $grid-border-radius;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 28px;
    cursor: pointer;
}
.single-cell {
    background: #f7d0d0;
    border-radius: $grid-border-radius;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 28px;
    cursor: pointer;
}
.single-cell .cell-value {
    font-size: 20px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.single-cell .cell-subtext {
    font-size: 16px;
}
.cell-value-main {
    line-height: 30px;
}
.cell-value-sub {
    margin-top: 26px;
    align-self: flex-end;
}
.cell-disabled {
    opacity: 0.5;
}
.cell-selected {
    background: #ffe1e1;
}
.cell-value {
    @extend .center-align;
    flex-grow: 2;
    font-size: 28px
}
.cell-subtext {
    display: flex;
    flex-direction: column;
    color: #b89898;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}
.cell-sub-inner {
    @extend .center-align;
    margin: 2px;
}
.head-cell {
    @extend .cell;
    @extend .center-align;
    font-size: 16px;
    background: #ffa6a6;
}
.aldrin-day {
    position: absolute;
    background: #bee8d2;
    box-shadow: -10px -10px 20px #8f9692, 10px 10px 20px #8f9692;
}
.aldrin-day.cell-selected {
    background: #c9ffe4;
}
.aldrin-day .cell-value {
    font-size: 16px;
    text-align: center;
}
.aldrin-day-button {
    @extend .center-align;
    border: 1px solid #90D1AE;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    width: 66px;
    position: absolute;
    background-color: #bee8d2;
    background-image: linear-gradient(to bottom, #bee8d2, #7DFFBC);
}
.aldrin-day-button:hover {
    background-color: #98dbb8;
    background-image: linear-gradient(to bottom, #98dbb8, #4affa2);
}
.details {
    margin-top: 50px;
    line-height: 24px;
}

// Responsive
@mixin grid-size($field-width, $grid-spacing) {
    // FIXME: 0.01 offset needed for Firefox
    $tile-size: (($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells) - 0.01;

    .container {
        width: $field-width;
    }
    .month-control {
        margin: $grid-spacing;
    }
    .calendar-container {
        border-radius: $grid-border-radius;
        padding: ($grid-spacing/2);
    }
    .cell {
        height: $tile-size;
        width: $tile-size;
        margin: ($grid-spacing/2);
    }
    .single-cell {
        height: ($tile-size*4) + ($tile-size/2) + ($grid-spacing*4);
        width: ($field-width - (2*$grid-spacing));
        margin: ($grid-spacing/2);
    }
    .head-cell {
        height: $tile-size / 2;
        line-height: $tile-size / 2;
    }
    .aldrin-day {
        margin-left: ($tile-size * 5) + ($grid-spacing * 5) + ($tile-size / 2);
        margin-top: ($tile-size * 3) + ($grid-spacing * 4) + ($tile-size / 2) + ($grid-spacing / 2);
    }
    .aldrin-day-button {
        margin-left: ($tile-size + ($grid-spacing / 2)) - 33;
    }
}

$field-width: 700px;
$grid-spacing: 5px;
$mobile-cutoff: ($field-width + 10);
@include grid-size($field-width, $grid-spacing);

@media screen and (max-width: $mobile-cutoff) {
    $field-width: 320px;
    $grid-spacing: 2px;
    @include grid-size($field-width, $grid-spacing);

    .cell-subtext {
        display: none;
    }
    .single-cell .cell-subtext {
        display: flex;
        font-size: 12px;
    }
    .cell-value {
        font-size: 20px;
    }
    .single-cell .cell-value {
        padding: 15px;
    }
    .head-cell {
        font-size: 14px;
    }

    .month-container {
        font-size: 18px;
        height: 30px;
    }
    .month-control {
        height: 26px;
        width: 36px;
    }
    .single-cell .cell-value {
        font-size: 14px;
    }
    .cell-value-main {
        line-height: 20px;
    }
    .cell-value-sub {
        margin-top: 10px;
    }
    .aldrin-day .cell-value {
        font-size: 12px;
    }
    .aldrin-day-button {
        border: 0px;
        height: 18px;
        width: 62px;
    }
    .details {
        margin-top: 30px;
        font-size: 12px;
        line-height: 20px;
    }
}
