$field-width: 700px;
$grid-spacing: 5px;
$grid-row-cells: 7;
$grid-rows: 4;
$grid-border-radius: 3px;

// FIXME: 0.01 offset needed for Firefox
$tile-size: (($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells) - 0.01;
$tile-width-reduced: (($field-width - $grid-spacing * ($grid-row-cells + 2)) / ($grid-row-cells + 1));

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-select-none {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    background: #f3f1f1;
    margin: 80px 0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #735e5e;
}
.container {
    margin: 0 auto;
    width: $field-width;
}
.calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #b2edce;
    border-radius: $grid-border-radius;
    padding: ($grid-spacing/2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);

    @extend .user-select-none;
}
.month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #d5f2e3;
    height: 40px;
    margin-bottom: 10px;
    border-radius: $grid-border-radius;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 20px;
}
.month-control {
    @extend .center-align;
    margin: 0 $grid-spacing 0 $grid-spacing;
    background: #c47070;
    border-radius: $grid-border-radius;
    // Bigger shadow since this is clickable
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    color: #f3f1f1;
    width: 40px;
    font-size: 18px;
    height: 32px;
    text-align: center;
    cursor: pointer;

    @extend .user-select-none;
}
.cell {
    display: flex;
    flex-direction: column;
    height: $tile-size;
    background: #f7d0d0;
    width: $tile-size;
    border-radius: $grid-border-radius;
    margin: ($grid-spacing/2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 28px;
    cursor: pointer;
}
.single-cell {
    height: ($tile-size*4) + ($tile-size/2) + ($grid-spacing*4);
    background: #f7d0d0;
    width: ($field-width - (2*$grid-spacing));
    border-radius: $grid-border-radius;
    margin: ($grid-spacing/2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 28px;
    cursor: pointer;
}
.single-cell .cell-value {
    font-size: 20px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.single-cell .cell-subtext {
    font-size: 16px;
}
.cell-value-main {
    line-height: 30px;
}
.cell-value-sub {
    margin-top: 26px;
    align-self: flex-end;
}
.cell-disabled {
    opacity: 0.5;
}
.cell-selected {
    background: #ffe1e1;
}
.cell-value {
    @extend .center-align;
    flex-grow: 2;
    font-size: 28px
}
.cell-subtext {
    display: flex;
    flex-direction: column;
    color: #b89898;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}
.cell-sub-inner {
    @extend .center-align;
    margin: 2px;
}
.head-cell {
    @extend .cell;
    @extend .center-align;
    font-size: 16px;
    height: $tile-size / 2;
    line-height: $tile-size / 2;
    background: #ffa6a6;
}
.leap-month .head-cell {
    width: $tile-width-reduced
}
.leap-month .cell {
    width: $tile-width-reduced
}
.head-cell-empty {
    @extend .head-cell;
    opacity: 0;
}
.cell-empty {
    @extend .cell;
    opacity: 0;
}
.aldrin-day {
    font-size: 18px;
    text-align: center;
}
