.center-align, .month-control, .cell-value, .cell-sub-inner, .head-cell {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  background: #f3f1f1;
  margin: 80px 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #735e5e; }

.container {
  margin: 0 auto;
  width: 700px; }

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #b2edce;
  border-radius: 3px;
  padding: 2.5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  user-select: none; }

.month-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #d5f2e3;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 20px; }

.month-control {
  margin: 0 5px 0 5px;
  background: #c47070;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #f3f1f1;
  width: 40px;
  font-size: 18px;
  height: 32px;
  text-align: center;
  cursor: pointer;
  user-select: none; }

.cell, .head-cell {
  display: flex;
  flex-direction: column;
  height: 94.27571px;
  background: #f7d0d0;
  width: 94.27571px;
  border-radius: 3px;
  margin: 2.5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  cursor: pointer; }

.cell-disabled {
  opacity: 0.5; }

.cell-selected {
  background: #ffe1e1; }

.cell-value {
  flex-grow: 2;
  font-size: 28px; }

.cell-subtext {
  display: flex;
  flex-direction: column;
  color: #b89898;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer; }

.cell-sub-inner {
  margin: 2px; }

.head-cell {
  font-size: 16px;
  height: 47.13786px;
  line-height: 47.13786px;
  background: #ffa6a6; }
